@charset "UTF-8";
/* CSS Document */


nav.sitenav a{
	color: rgba(255,165,53,1.00);
		font-weight: bold;
		font-size: 130%;
		text-decoration: underline;
		padding: 4px;
	text-align: center;
	align-content: center;
	justify-content: center;
}

nav.sitenav a:hover {
	color: black;
}

header {
justify-content: center;
	align-content: center;
		text-align: center;
	margin-left: auto;
    margin-right: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	
}

footer {
	font-size: 80%;
}

h1 {
	text-align: center;
	font-size: 300%;
	font-weight: bold;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}


h2 {
	text-align: center;
}

body {
	background-color: #FFF6E7;
		margin: 20px;
		padding: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	
}


 .gallery-grid {
            display: grid;
		 background-color: rgba(255,165,53,1.00);
            grid-template-columns: auto auto auto;
	 font-color: black;
	 border: 5px;
        }
                        
      	 .gall-item {
            width: 270px; /*should match the width of your images + width of border (if any) */
            text-align: center;
			 justift-content: center;
			 align-content: center;
			 border:thick;
			 border-color: rgba(255,165,53,1.00);
}
			
.gallery-grid div {
  background-color: rgba(255,165,53,1.00);
  font-size: 20px;
	color: navy;
	text-align: center;}


.gallery-grid2 {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
	 background-color: rgba(255,165,53,1.00);
            grid-row-gap: 0px ;
            align-items: start;
            justify-content: space-between;
        }
                        
        .gallery-item {
            width: 140px; /*should match the width of your images + width of border (if any) */
            text-align: center;
}

.gallery-grid2 div {
  background-color: rgba(255,165,53,1.00);;
  border: 5px solid rgba(255,165,53,1.00);
  padding: 5px;
  font-size: 17px;
	color: #E3494C;
	text-align: center;
	margin-left: auto;
    margin-right: auto;}

article {
	background-color: white;
	padding: 10px;
	border: outset thick

}

.container {
            display: grid;
		 background-color: #FFF6E7;
            grid-template-columns: 400px 700px;
            grid-column-gap: 40px;
             justify-items: left;
			overflow-wrap: break-word;
	hyphens: auto;
	
        }