@charset "UTF-8";
/* CSS Document */



nav.sitenav a{
	color: rgba(255,212,158);
		font-weight: bold;
		font-size: 130%;
		text-decoration: overline;
		padding: 4px;
	
}

nav.sitenav a:hover {
	color: white;
}

head {
	padding: 0px;
	margin: 0px;
}

header {
	background-color: #E66024;
	width: inherit;
	margin: 0px;
	padding: 30px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	justify-content: center;
	font-size: 120%;
	
}

footer {
	font-size: 80%;
	background-color: #E66024;
	padding: 20px;
	margin: 0px;
}

h1 {
	text-align: center;
	font-size: 300%;
	font-weight: bold;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}


h2 {
	text-align: center;
}

body {
	background-color: antiquewhite;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	padding: 0px;
	margin: auto;
	
}
	
.body { 
	margins: auto;
		padding: 30px;
	}


 .gallery-grid {
            display: grid;
		 background-color: rgba(255,212,158);
            grid-template-columns: auto auto auto;
	 font-color: black;
	 border: 5px;
        }
                        
      	 .gall-item {
            width: 270px; /*should match the width of your images + width of border (if any) */
            text-align: center;
			 justift-content: center;
			 align-content: center;
			 border:thick;
			 border-color: rgba(255,212,158);
}
			
.gallery-grid div {
  background-color: rgba(255,212,158);
  font-size: 20px;
	color: navy;
	text-align: center;}


.gallery-grid2 {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
	 background-color: rgba(255,212,158);
            grid-row-gap: 0px;
            align-items: start;
	
        
        }


.home-grid {
            display: grid;
		 background-color: rgba(255,212,158);
            grid-template-columns: auto auto auto;
	 font-color: black;
	 border: 5px;
	margin: auto;
        }
                        
      	 .home-item {
            width: 270px; /*should match the width of your images + width of border (if any) */
            text-align: center;
			 justift-content: center;
			 align-content: center;
			 border:thick;
			 border-color: rgba(255,212,158);
			 margin: auto;
			 
}


#one {
	filter: brightness(60%);
}
#two {
	filter: brightness(60%);
}
#three {
	filter: brightness(60%);
}
#four {
	filter: brightness(60%);
}
#five {
	filter: brightness(60%);
}

.seven div {
	margin: auto;
	align-content: center;
justify-content: center;
	text-align: center;
}
	
.seven {
	margin: auto;
	align-content: center;
	justify-content: center;
	text-align: center;
}
                        
        .gallery-item {
            width: 140px; /*should match the width of your images + width of border (if any) */
            text-align: center;
}

.gallery-grid2 div {
  background-color: rgba(255,212,158);
  border: 5px solid rgba(255,212,158);
  padding: 5px;
  font-size: 17px;
	color: #E3494C;
	text-align: center;
	margin-left: auto;
    margin-right: auto;


}

article {
	background-color: white;
	padding: 10px;
	border: outset thick

}

.container {
            display: grid;
		 background-color: #FFF6E7;
            grid-template-columns: 400px 700px;
            grid-column-gap: 40px;
             justify-items: left;
			overflow-wrap: break-word;
	hyphens: auto;
	padding: 10px;
        }

.aboutitem {}
	

.worldmap {
	width: 950px;
	height: 650px;
	border: solid #5a5a5a 1px;
	background: url(images/worldmap.svg) no-repeat;
	background-size: 950px 650px;
	padding: 0;
	margin: auto;/* adjust as needed */
	position: relative; /* needed for positioning the icons */;

}

.worldmap-item {
	font-size: 25px;
	position: absolute;
	color: black;
	
}

#worldmap-item-factory-mex {
	top: 254px;
	left: 175px;
	color: cornflowerblue;
	}

#worldmap-item-factory-usa {
	top: 226px;
	left: 252px;
	color: cornflowerblue;
	}

#worldmap-item-factory-den {
	top: 166px;
	left: 473px;
	color: purple;
	}


#worldmap-item-factory-czec {
	top: 176px;
	left: 493px;
	color: purple;
	}

#worldmap-item-factory-hung {
	top: 186px;
	left: 509px;
	color: purple;
	}

#worldmap-item-factory-chi {
	top: 255px;
	left: 760px;
	color: red;
	}
	
#worldmap-item-factory-viet {
	top: 290px;
	left: 740px;
	color: red;
	}
	
	
#worldmap-item-texrdc {
		top: 250px;
	left: 195px;
	color: cornflowerblue;
}

#worldmap-item-virrdc {
		top: 226px;
	left: 282px;
	color: purple;
}

#worldmap-item-belgrdc {
		top: 186px;
	left: 463px;
	color: purple;
}

#worldmap-item-czecrdc {
		top: 200px;
	left: 493px;
	color: purple;
}

#worldmap-item-chirdc {
		top: 230px;
	left: 750px;
	color: red;
}

#worldmap-item-vietrdc {
		top: 315px;
	left: 740px;
	color: red;
}

.worldmap-item span {
      font-size: 10px; 
      color: navy; 
      float: right; 
      background: white; 
	  width: 200px;
      padding: 10px; 
      display: none;
      }
      
    .worldmap-item:hover span {
      display: inline;
		font-size: 12px;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		text-align:left;
      }

.text {
	text-align: left;
	justify-content: left;
	align-content: left;

}